body{
  background-color:#FDCB5E;
}
hr{
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 3%;
}
h1{
  color: #0F4C75;
}
h2{
  color: #0F4C75;
}
a{
  text-decoration: none;
}
