body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size:1.25rem;
  font-style: normal;
}
h1{
  font-size:5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  font-size: 1.5rem;
}
p{
  line-height: 2;
}
hr{
  border-color: #2f2519;
  border-style: dotted none none;
  border-width: 5px;
  width: 6%;
}
a{
  color:#11999E;
}


/************************************class selector****************************/
.title{
  padding-top:45px;
}
.subtitle{
  padding-bottom: 35px;
  font-weight: normal;
}

.top-container{
  background-color:#f6f4e6;
  padding-top:100px;
  position:relative;
}
.middle-container{
  background-color:#fddb3a;
  padding:25px;
}
.bottom-container{
  background-color:#52575d;
  padding:50px 0 20px;
}
.profilepic{
  width:25%;
}
.programming{
  width:25%;
  float:left;
  padding-right: 30px;
  padding-bottom:30px;
}
.badminton{
  width:25%;
  float:right;
  padding-left:30px;
  padding-bottom:30px;
}
.bottom-cloud{
  position:absolute;
  left:230px;
  bottom:330px;
  height:150px;
  width:150px;
}
.top-cloud{
position:absolute;
right:250px;
top:30px;
height:150px;
width:150px;
}
.mountain{
  height:400px;
  width:400px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
}
.profile{
  text-align:center;
  width:50%;
  margin:100px auto 100px auto;
}
.contact-me{
  text-align:center;
  width:50%;
  margin:100px auto 100px auto;
}
.skills{
  padding:25px 0 25px 0;
}
.contact-me-description{
padding-bottom:20px;
}
.btn {
  background: #4b4f52;
  background-image: -webkit-linear-gradient(top, #4b4f52, #090c0d);
  background-image: -moz-linear-gradient(top, #4b4f52, #090c0d);
  background-image: -ms-linear-gradient(top, #4b4f52, #090c0d);
  background-image: -o-linear-gradient(top, #4b4f52, #090c0d);
  background-image: linear-gradient(to bottom, #4b4f52, #090c0d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b0bcc4;
  background-image: -webkit-linear-gradient(top, #b0bcc4, #5e686e);
  background-image: -moz-linear-gradient(top, #b0bcc4, #5e686e);
  background-image: -ms-linear-gradient(top, #b0bcc4, #5e686e);
  background-image: -o-linear-gradient(top, #b0bcc4, #5e686e);
  background-image: linear-gradient(to bottom, #b0bcc4, #5e686e);
  text-decoration: none;
}
.footer-link{
  padding:15px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
color:#EAF6F6;
}
.copy-right{
  color:#EAF6F6;
  font-size:0.75rem;
padding:20px 0;
margin:0;
}
